<% provide(:title, 'Log in or Sign up') %>
<div class="background-image">
  <div class="row">
        <aside class="col-md-8">
            <h1 style="color: white;">Welcome to FactorOut</h1>
            <ul style="color: white;">
              <li>Send notifications for campus events</li>
              <li>Signin to check your campus events</li>
              <li>Check your campus event Calendar</li>
            </ul>
        </aside>
        <div class="col-md-4">
          <%= render 'users/new' %>
        </div>
  </div>
</div>
<!--<h1>Sign up</h1>
<p>This will be a signup page for new users.</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>-->
