<% provide(:title, "Forgot password") %>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel">
      <div class="panel-heading" style = "background-color: #4CAF50;">
        <h4 class="text-center"> Forgot password </h4>
      </div>
      <div class="panel-body">
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.submit "Submit", class: "btn btn-default", style: "background-color: #4CAF50;" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-"></div>
</div>
